useDynLib(anpai, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(dplyr)
import(stringr)
import(lubridate)
import(tidyr)
importFrom("stats", "median", "quantile")
import(ggplot2)
importFrom(dplyr,"%>%")
import(devtools)
importFrom("testthat", "test_that")




